<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- external css -->
  <link href="{{  url_for('static', filename='base.css')}}" type="text/css" rel="stylesheet">
  <title>Hunger Book</title>
</head>

<body>
  <main>
    <div class="px-4 pt-5 my-5 border-bottom">
      <h1 class="display-4 text-center fw-bold w-name">Hunger Book</h1>
      <div class="col-lg-6 mx-auto text-center">
        <p class="lead mb-4">Hello folks, Have your ever wanted to eat outside with your friends but can't decide on a
          restaurant?<br>Let HungerBook help you!</p>
      </div>
      <div class="container px-5 pt-5">
        <!-- search form -->
        <form action="{{ url_for('search') }}" method="GET" id="my-form">
          <div class="row mb-3 justify-content-center align-items-center">
            <div class="col-12 col-md-4 col-xl-2">
              <div class="mb-3">
                <label class="form-label" for="guests">No. of guests</label>
                <input class="form-control" type="number" id="guests" name="guests" min="1" placeholder="Eg: 2"
                  required>
              </div>
            </div>

            <div class="col-12 col-md-4 col-xl-2">
              <div class="mb-3">
                <label class="form-label" for="minBudget">Min. Budget</label>
                <input class="form-control" type="number" id="minBudget" name="minBudget" min="100"
                  placeholder="Eg: 100" required>
              </div>
            </div>

            <div class="col-12 col-md-4 col-xl-2">
              <div class="mb-3">
                <label class="form-label" for="maxBudget">Max. Budget</label>
                <input class="form-control" type="number" id="maxBudget" name="maxBudget" min="100"
                  placeholder="Eg: 500" required>
              </div>
            </div>

            <div class="col-12 col-md-4 col-xl-2">
              <div class="mb-3">
                <label class="form-label" for="cuisine">Cuisine</label>
                <select class="form-select" id="cuisine" name="cuisine">
                  <option selected value="Awadhi">Awadhi</option>
                  <option value="Bakery">Bakery</option>
                  <option value="Chinese">Chinese</option>
                  <option value="Continental">Continental</option>
                  <option value="Desserts">Desserts</option>
                  <option value="Fast Food">Fast Food</option>
                  <option value="Mughlai">Mughlai</option>
                  <option value="North Indian">North Indian</option>
                  <option value="South Indian">South Indian</option>
                </select>
              </div>
            </div>

            <div class="col-12 col-md-3">
              <div class="mb-3">
                <label class="form-label" for="locality">Locality</label>
                <select class="form-select" id="locality" name="locality">
                  <option selected value="Aliganj">Aliganj</option>
                  <option value="Aminabad">Aminabad</option>
                  <option value="Chowk">Chowk</option>
                  <option value="Charbagh">Charbagh</option>
                  <option value="Gomti Nagar">Gomti Nagar</option>
                  <option value="Hazratganj">Hazratganj</option>
                  <option value="Kaiserbagh">Kaiserbagh</option>
                  <option value="Lalbagh">Lalbagh</option>
                  <option value="Mahanagar">Mahanagar</option>
                  <option value="Mahanagar">Mahanagar</option>
                  <option value="RajajiPuram">RajajiPuram</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row mb-4 text-center">
            <div class="col">
              <input type="submit" class="btn btn-primary px-4 me-sm-3" value="Get Restaurants" id="getRestaurants">
            </div>
        </form>
      </div>
    </div>
      {% block cards %}
      {% endblock %}
  </main>
  <footer class="footer mt-auto py-3 border-top">
    <div class="container text-center">
      <span class="text-muted">Made with &#9749; by Ansh and Shivam.</span>
    </div>
  </footer>
</body>

</html>