{% extends "base.html" %}
{% block cards %}
<div class="container" id="results">
  <div class="row ">
    {% if restaurants|length > 0 %}
    <div class="col-12 mt-5 mb-3 text-center border-bottom">
      <h4>Results</h4>
    </div>
    {% for res in restaurants %}
    <div class="col-12 col-lg-4 col-xll-4 align-items-stretch">
      <div class="card px-3 mb-3">
        <div class="row g-0">
          <!-- <div class="col-md-4 align-self-center">
            <img src="/static/omelette.png" class="img-fluid rounded-start" alt="food placeholder" style="max-width: 100%; max-height: 300px;">
          </div> -->
          <div class="py-4 col-12">
            <div class="card-body">
              <h3 class="card-title">{{ res.name }}</h3>
              <p class="card-text recipe-metadata">
                <span class="recipe-rating">{{ '★' * (res.aggregate_rating|int) }}<span>{{ '☆' * (5 -
                    (res.aggregate_rating|int)) }}</span></span>
                <span class="recipe-votes">({{ res.votes }} votes)</span>
              </p>
              <p class="card-text">{{ res.address }}</p>
              <div class="col pb-2 ">
                Timing: {{res.timings}}
              </div>
              <div class="col">
                <a href="{{ res.url }}" target="_blank"><button type="button" class="btn btn-outline-primary">More
                    Info</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="col text-center">
      <h5>Sorry, No Result Found. :(</h5>
      <p>Try again</p>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}