{% extends "base.html" %}

{% block CSS %}
  <link href="{{ url_for('static', filename='search.css')}}" type="text/css" rel="stylesheet">
{% endblock %}

{% block title %}    
  Hunger Book - Search
{% endblock %}

{% block cards %}
<div class="container restaurant-container" style="color: black;">
  <ul class="list-unstyled">
    {%  if restaurants|length > 0  %}
    {% for res in restaurants %}
      <li class="media mt-2 res-card">
        <img src="https://image.flaticon.com/icons/svg/1980/1980872.svg" width="60px" height="100%" class="mr-3"
          alt="...">
        <div class="media-body">
          <h5 class="mt-0">{{ res.name }}</h5>
          <p>Rating: <span class="badge badge-success d-inline">{{ res.aggregate_rating }}</span></p>
          <div class="res-content">
            <p class="text-muted">{{ res.address }}</p>
            <p><span class="timing">Timing: {{ res.timings }}</span></p>
            <button class="more-info"><a href="{{ res.url }}" target="_blank">More Info</a></button>
          </div>
        </div>
      </li>
      {% endfor %}
      {% else %}
      <li class="mt-2">
        <div class="text-center align-middle" style="color: white;">
          <h5>Sorry, No Result Found. :(</h5>
          <p>Try again</p>
        </div>
      </li>
    {% endif %}
    </ul>
  </div>
{% endblock %}
